// Fonts
$poppins: "Poppins", sans-serif;

// Colors
$white: #ffffff;
$black: #000000;
$green: #0ad078;
$gray: #858585;
$gray-light: #edf2f7;
$color-border: #718096;

$bg-primary: #212529;
$bg-secondary: #edf2f7;
$text-secondary: #718096;

// Transition Duration
$duration: 300ms;

// Shadow
$box-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.2),
  0 2px 4px -1px rgba(255, 255, 255, 0.06);

//BreakPoints Size
$size-md: 48rem; //768px
$size-lg: 64rem; //1024px
$size-xl: 80rem; //1280px
