@use "../../scss/utils/index" as utils;

.skills {
  .title {
    text-align: center;
    line-height: 24px;
    padding-bottom: 1.25rem;
    font-size: 1.25rem;
    font-weight: 500;

    .span {
      border-bottom: 2px solid utils.$green;
    }
  }

  .container {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    max-width: 900px;
    margin: 0 auto;

    @include utils.breakpoint(utils.$size-lg) {
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
    }

    .card {
      background-color: utils.$white;
      color: utils.$black;
      padding: 1.25rem;
      line-height: 24px;
      display: flex;
      align-items: center;
      gap: 12px;
      border-radius: 0.75rem;
      font-weight: 400;
      transition: all utils.$duration linear;
      cursor: pointer;

      @include utils.hover {
        transform: translateY(-5px);
        box-shadow: utils.$box-shadow;
      }

      @include utils.breakpoint(utils.$size-lg) {
        min-width: 280px;
      }

      .icon {
        width: 50px;
        height: 50px;
      }
    }
  }
}
